body {
    background-color: aquamarine;
}
#aktext {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: black;
    text-align: center;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
#result {
    font-size: 30px;
    margin-top: 20px;
    color:crimson
}