body {
    background-color: aquamarine;
}
body {
    overflow-y: scroll;
}

button {
    font-size: 20px;
    position: absolute;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(235, 3, 10);
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
#result {
    font-size: 30px;
    margin-top: 20px;
    color:rgb(94, 133, 217);
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
#coinmidasi {
    font-size: 25px;
    font-weight: bold;
    left: 50%;
    top: 100;
    transform: translateX(-50%);
    position: absolute;
}